<!DOCTYPE html>
<!-- This is coming from book_content -->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>1. Introduction to Software as a Service, Agile Development, and Cloud Computing &#8212; saasbook  documentation</title>
        
        <%= stylesheet_link_tag "theme.css" %>
        <%= stylesheet_link_tag "index.c5995385ac14fb8791e8eb36b4908be2.css" %>

        
    
        <%= stylesheet_link_tag "all.min.css" %>
        <%= stylesheet_link_tag "pygments.css" %>
        <%= stylesheet_link_tag "sphinx-book-theme.acff12b8f9c144ce68a297486a2fa670.css" %>

        
        <%= javascript_include_tag "vendor.js" %>
        <%= javascript_include_tag "custom.js" %>
        <% if user_signed_in? && @section_id != -1 %>
            <%= javascript_include_tag "highlight-annotate.js" %>
        <% end %>
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="docsearch:language" content="en" />
    
    </head>
    <body data-spy="scroll" data-target="#bd-toc-nav" data-offset="80">
    
        <div class="container-fluid" id="banner"></div>
        <div class="container-xl">
            <div class="row">
          
                <!-- RENDER TOC HERE -->
                <%= render "saasbook/table_of_contents" %>
                <!-- RENDER TOPBAR -->
                <%= render "saasbook/topbar" %>

                <!-- USER PAGE RENDER HERE -->
                <main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
                    <div id="main-content" class="row">
                        <div class="col-12 col-md-4 pl-md-3 pr-md-0 text-center">
                        
                            <%= image_tag "http://github.com/#{current_user.nickname}.png", width: "50%" %>
                        </div>
                        <div class="col-12 col-md-4 pl-md-6 pr-md-0 text-center">
                            <%= @user.nickname %>
                        </div>
                        <div class="col-12 col-md-2 pl-md-9 pr-md-2 text-center">
                            <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>link</th>
                                <th>Annotation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= @annotations.each do |x| %>
                                <tr>
                                    <% if x.section = 0 %>
                                        <% if x.chapter = 0 %>
                                            <td><%= link_to "Preface", preface_path() %></td>
                                        <% else %>
                                            <td><%= link_to "Chapter#{x.chapter}", chapter_path(chapter_id: x.chapter) %></td>
                                        <% end %>
                                    <% else %>
                                        <td><%= link_to "Chapter#{x.chapter}Section#{x.section}", section_path(chapter_id: x.chapter, section_id: x.section) %></td>
                                    <% end %> 
                                    <td><%= eval(x.annotation).first[:body].first[:value] %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>

                    <footer class="footer mt-5 mt-md-0">
                        <div class="container">
                        <p>
                        
                          By sme777<br/>
                        
                            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
                        </p>
                        </div>
                    </footer>
                </main>

            </div>
        </div>
    </body>
</html>
