<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter10/sub-chapter7.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="the-plan-and-document-perspective-on-managing-teams">
<h1><span class="section-number">10.7. </span>The Plan-And-Document Perspective on Managing Teams<a class="headerlink" href="#the-plan-and-document-perspective-on-managing-teams" title="Permalink to this headline">¶</a></h1>
<p>In Plan-And-Document processes, project management starts with the project
manager. Project managers are the bosses of the projects:</p>
<ul class="simple">
<li><p>They write the contract proposal to win the project from the customer.</p></li>
<li><p>They recruit the development team from existing employees and new hires.</p></li>
<li><p>They typically write team members’ performance reviews, which shape salary in- creases.</p></li>
<li><p>From a Scrum perspective (Section 10.1), they act as Product Owner—the primary customer contact—<em>and</em> they act as Scrum Lead, as they are the interface to upper management and they procure resources for the team.</p></li>
<li><p>As we saw in Section 7.9, project managers also estimate costs, make and maintain the schedule, and decide which risks to address and how to overcome or avoid them.</p></li>
<li><p>As you would expect for Plan-And-Document processes, project managers must docu- ment their project management plan. Figure 10.11 gives an outline of Project Management Plans from the corresponding IEEE standard.</p></li>
</ul>
<p>As a result of all the these responsibilities, project managers receive much of the blame if
projects have problems. Quoting a textbook author from his introduction to project management:</p>
<blockquote>
<div><p><em>However, if a post mortem were to be conducted for every [problematic] project, it is very
likely that a consistent theme would be encountered: project management was weak.</em></p>
<p class="attribution">—Pressman 2010</p>
</div></blockquote>
<p>We cover four major tasks for project managers to increase their chances of being successful:</p>
<ol class="arabic simple">
<li><p>Team size, roles, space, communication</p></li>
<li><p>Managing people and conflicts</p></li>
<li><p>Inspections and metrics</p></li>
<li><p>Configuration management</p></li>

<figure>
    <%= image_tag "Chapter10/10.11.jpg", class:"center", alt: "10.11" %>
    <figcaption>
    Figure 10.11: Format of a project management plan from the IEEE 16326-2009 ISO/IEC/IEEE Systems and Software
Engineering–Life Cycle Processes–Project Management standard.
    </figcaption>
</figure> 

</ol>
<p><strong>1.    Team size, roles, space, and communication.</strong> The Plan-and-Document processes can scale to
larger sizes, where group leaders report to the project manager. However, each subgroup
typically stays the size of the two-pizza teams we saw in Section 10.1. Size recommendations
are three to seven people (Braude and Berstein 2011) to no more than ten (Sommerville 2010).
Fred Brooks gave us the reason in Chapter 7: adding people to the team increases parallelism,
but also increases the amount of time each person must spend communicating. These team sizes
are reasonable considering the fraction of time spent communicating.</p>
<p>Given we know the size of the team, members of a subgroup in Plan-and-Document processes can
be given different roles in which they are expected to lead. For example (Pressman 2010):</p>
<ul class="simple">
<li><p>Configuration management leader</p></li>
<li><p>Quality assurance leader</p></li>
<li><p>Requirements management leader</p></li>
<li><p>Design leader</p></li>
<li><p>Implementation leader</p></li>
</ul>
<p>One surprising result is that the type of space for the team to work in affects project
management. One study found that collocating the team in open space could double productivity
(Teasley et al. 2000). The reasons include that team members had easy access to each other
for both coordination of their work and for learning, and they could post their work artifacts
on the walls so that all could see. Another study of teams in open space concludes:</p>
<blockquote>
<div><p><em>One of the main drivers of success was the fact that the team members were at hand, ready
to have a spontaneous meeting, advise on a problem, teach/learn something new, etc. We know
from earlier work that the gains from being at hand drops off significantly when people are
first out of sight, and then most severely when they are more than 30 meters apart.</em></p>
<p class="attribution">—Allen and Henn 2006</p>
</div></blockquote>
<p>While the team relies on email and texting for communicating and shares information in wikis
and the like, there is also typically a weekly meeting to help coordinate the project. Recall
that the goal is to minimize the time spent communicating unnecessarily, so it is important
that the meetings be effective. Below is our digest of advice from the many guidelines found on
the Web on how to have efficient meetings. We use the acronym SAMOSAS as a memory device; surely
bringing a plate of them will make for an effective meeting!</p>
<ul class="simple">
<li><p><strong>S</strong>tart and stop meeting on time.</p></li>
<li><p><strong>A</strong>genda created in advance of meeting; if there is no agenda, then cancel the meeting.</p></li>
<li><p><strong>M</strong>inutes must be recorded so everyone can recall results afterwards; the first agenda item is finding a note taker.</p></li>
<li><p><strong>O</strong>ne speaker at a time; no interruptions when another is speaking.</p></li>
<li><p><strong>S</strong>end material in advance, since people read much faster than speakers talk.</p></li>
<li><p><strong>A</strong>ction items at end of meeting, so people know what they should do as a result of the meeting.</p></li>
<li><p><strong>S</strong>et the date and time of the next meeting.</p></li>
</ul>
<p><strong>2. Managing people and conflicts.</strong> Thousands of books have been written on how to manage
people, but the two most useful ones that we have found are <em>The One Minute Manager</em> and <em>How to
Win Friends and Influence People</em> ( Blanchard and Johnson 1982; Carnegie 1998). What we like
about the first book is that it offers short quick advice. Be clear about the goals of what
you want done and how well it should be done, but leave it up to the team member how to do it
to encourage creativity. When meeting with individuals to review progress, start with positive
feedback to help build their confidence. Then, be honest with them about what is not going well,
and what they need to do to fix it. Finally, conclude with positive feedback and encouragement
to continue improving their work. What we like about the second book is that it helps teach the
art of persuasion, to get people to do what you think should be done without ordering them to
do it. These skills also help persuade people you cannot command: your customers and your
management.</p>
<p>Both books are helpful when it comes to resolving conflicts within a team. Conflicts are not
necessarily bad, in that it can be better to have the conflict than to let the project crash
and burn. Intel Corporation labels this attitude constructive confrontation. If you have a
strong opinion that a person is proposing the wrong thing technically, you are obligated to
bring it up, even to your bosses. The Intel culture is to speak up even if you disagree with
the highest ranked people in the room.</p>
<p>If conflict continues, given that Plan-and-Document processes have a project manager, that
person can make the final decision. One reason the US made it to the moon in the 1960s is
that a leader of NASA, Wernher von Braun, had a knack for quickly resolving conflicts on
close decisions. His view was that picking an option arbitrarily but quickly was frequently
better, since the choice was roughly 50-50, so that the project could move ahead rather than
take the time to carefully collect all the evidence to see which choice was slightly better.</p>
<p>However, once a decision is made, the teams needs to embrace it and move ahead. The Intel
motto for this resolution is <em>disagree and commit</em>: “I disagree, but I am going to help even if
I don’t agree.”</p>
<p><strong>3. Inspections and metrics.</strong> Inspections like <strong>design reviews</strong> and <strong>code reviews</strong> allow feedback
on the system even before everything is working. The idea is that once you have a design and
initial implementation plan, you are ready for feedback from developers beyond your team. Design
and code reviews follow the Waterfall lifecycle in that each phase is completed in sequence
before going on to the next phase, or at least for the phases of a single iteration in Spiral
or RUP development.</p>
<p>A design review is a meeting in which the authors of program present its design. The goal of the
review is to improve software quality by benefiting from the experience of the people attending
the meeting. A code review is held once the design has been implemented.
This peer-oriented feedback also helps with knowledge exchange within the organization and offers
coaching that can help the careers of the presenters.</p>
<p>Shalloway suggests that formal design code reviews are often too late in the process to make a
big impact on the result (Shalloway 2002). He recommends to instead have earlier, smaller
meetings that he calls “approach reviews.” The idea is to have a few senior developers assist
the team in coming up with an approach to solve the problem. The group brainstorms about
different approaches to help find a good one.</p>
<p>If you plan to do a formal design review, Shalloway suggests that you first hold a “mini-design
review” after the approach has been selected and the design is nearing completion. It involves
the same people as before, but the purpose is to prepare for the formal review.</p>
<p>The formal review itself should start with a high-level description of what the customers want.
Then give the architecture of the software, showing the APIs of the components. It will be
important to highlight the design patterns used at different levels of abstraction (see Chapter
11). You should expect to explain <em>why</em> you made the decisions, and whether you considered
plausible alternatives. Depending on the amount of time and the interests of those at the
meeting, the final phase would be to go through the code of the implemented methods. At all
these phases, you can get more value from the review if you have a concrete list of questions
or issues that you would like to hear about.</p>
<p>One advantage of code reviews is that they encourage people outside your team to look at your
comments as well as your code. As we don’t have a tool that can enforce the advice from Chapter
9 about making sure the comments raise the level of abstraction, the only enforcing mechanism
is the code review.</p>
<p>In addition to reviewing the code and the comments, inspections can give feedback on every
part of the project in Plan-and-Document processes: the project plan, schedule, requirements,
testing plan, and so on. This feedback helps with <strong>verification and validation</strong> of the whole
project, to ensure that it is on a good course. There is even an IEEE standard on how to document
the verification and validation plan for the project, which Figure 10.12 shows.</p>
<p>Like the algorithmic models for cost estimation (see Section 7.9), some researchers have
advocated that software metrics could replace inspections or reviews to assess project quality
and progress. The idea is to collect metrics across many projects in organization over time,
establish a baseline for new projects, and then see how the project is doing compared to
baseline. This quote captures the argument for metrics:</p>
<blockquote>
<div><p><em>Without metrics, it is difficult to know how a project is executing and the quality level
of the software.</em></p>
<p class="attribution">—Braude and Berstein 2011</p>
</div></blockquote>
<p>Below are sample metrics that can be automatically collected:</p>
<ul class="simple">
<li><p>Code size, measured in thousands of lines of code (KLOC) or in function points (Sec- tion 7.9).</p></li>
<li><p>Effort, measured in person-months spent on project.</p></li>
<li><p>Project milestones planned versus fulfilled.</p></li>
<li><p>Number of test cases completed.</p></li>
<li><p>Defect discovery rate, measured in defects discovered via testing per month.</p></li>
<li><p>Defect repair rate, measured in defects fixed per month.</p></li>
</ul>
<p>Other metrics can be derived from these so as to normalize the numbers to help compare results
from different projects: KLOC per person-month, defects per KLOC, and so on.</p>

<figure>
    <%= image_tag "Chapter10/10.12.jpg", class:"center", alt: "10.12" %>
    <figcaption>
    Figure 10.12: Outline of a plan for System and Software Verification and Validation from the IEEE 1012-2012 Standard.
    </figcaption>
</figure> 

<p>The problem with this approach is that there is little evidence of correlation between these
metrics that we can automatically collect and project outcomes. Ideally, the metrics would
correlate and we could have much finer-grained understanding than comes from the occasional
and time consuming inspections. This quote captures the argument de-emphasizing metrics:</p>
<blockquote>
<div><p><em>However, we are still quite a long way from this ideal situation, and there are no signs
that automated quality assessment will become a reality in the foreseeable future</em></p>
<p class="attribution">—Sommerville 2010</p>
</div></blockquote>
<p><strong>4. Configuration management.</strong> Configuration management includes four varieties of changes,
three of which we have seen before. The first is <strong>version control</strong>, sometimes also called <em>source
and configuration management</em> (SCM), described in Sections 10.2–10.4. This variety keeps track
of versions of components as they are changed. The second, <em>system building</em>, is closely related
to the first. Tools like make assemble the compatible versions of components into an executable
program for the target system. The third variety is <strong>release management</strong>, which we cover in
Chapter 12. The last is <strong>change management</strong>, which comes from change requests made by customers
and other stakeholders to fix bugs or to improve functionality (see Section 9.7).</p>
<p>As you surely expect by now, IEEE has a standard for Configuration Management. Figure 10.13
shows its table of contents.</p>

<figure>
    <%= image_tag "Chapter10/10.13.jpg", class:"center", alt: "10.13" %>
    <figcaption>
    Figure 10.13: A table of contents for the IEEE 828-2012 Standard for Configuration Management in Systems and Software
Engineering.
    </figcaption>
</figure> 

<p><strong>Self-Check 10.7.1.</strong> <em>Compare the size of teams in Plan-and-Document processes versus
Agile processes.</em></p>
<blockquote>
<div><p>Plan-and-Document processes can form hierarchies of subgroups to create a much larger
project, but each subgroup is basically the same size as a “two-pizza” team for Agile.</p>
</div></blockquote>
<p><strong>Self-Check 10.7.2.</strong> <em>True or False: Design reviews are meetings intended to improve the
quality of the software product using the wisdom of the attendees, but they also result
in technical information exchange and can be highly educational for junior members of the
organization, whether presenters or just attendees.</em></p>
<blockquote>
<div><p>True.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 10, section_id: 6) %>" title="previous page"><span class="section-number">10.6. </span>Reporting and Fixing Bugs: The Five R’s</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 10, section_id: 8) %>" title="next page"><span class="section-number">10.8. </span>Fallacies and Pitfalls</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
