<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="mobile-and-desktop-saas-clients-javascript-introduction">
<h1><span class="section-number">6. </span>Mobile and Desktop SaaS Clients: JavaScript Introduction<a class="headerlink" href="#mobile-and-desktop-saas-clients-javascript-introduction" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p><em>In programming, everything we do is a special case of something more general—and often we know it too quickly.</em></p>
<p class="attribution">—Alan Perlis</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 1) %>">6.1. JavaScript: The Big Picture</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 2) %>">6.2. Introducing ECMAScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 3) %>">6.3. Classes, Functions and Constructors</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 4) %>">6.4. The Document Object Model (DOM) and jQuery</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 5) %>">6.5. The DOM and Accessibility</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 6) %>">6.6. Events and Callbacks</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 7) %>">6.7. AJAX: Asynchronous JavaScript And XML</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 8) %>">6.8. Testing Java Script and AJAX</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 9) %>">6.9. CHIPS: AJAX Enhancements to RottenPotatoes</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 10) %>">6.10. Single-Page Apps and JSON APIs</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 11) %>">6.11. Fallacies and Pitfalls</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 6, section_id: 12) %>">6.12. Concluding Remarks: JavaScript Past, Present and Future</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 5, section_id: 10) %>" title="previous page"><span class="section-number">5.10. </span>Concluding Remarks: Languages, Productivity, and Beauty</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 6, section_id: 1) %>" title="next page"><span class="section-number">6.1. </span>JavaScript: The Big Picture</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
