    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="agile-teams">
<h1><span class="section-number">10. </span>Agile Teams<a class="headerlink" href="#agile-teams" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p><em>There are no winners on a losing team, and no losers on a winning team.</em></p>
<p class="attribution">—Fred Brooks, quoting North Carolina basketball coach Dean Smith, 1990</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 1) %>">10.1. It Takes a Team: Two-Pizza and Scrum</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 2) %>">10.2. Using Branches Effectively</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 3) %>">10.3. Pull Requests and Code Reviews</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 4) %>">10.4. Delivering the Backlog Using Continuous Integration</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 5) %>">10.5. CHIPS: Agile Iterations</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 6) %>">10.6. Reporting and Fixing Bugs: The Five R’s</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 7) %>">10.7. The Plan-And-Document Perspective on Managing Teams</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 8) %>">10.8. Fallacies and Pitfalls</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 9) %>">10.9. Concluding Remarks: From Solo Developer to Teams of Teams</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 9, section_id: 9) %>" title="previous page"><span class="section-number">9.9. </span>Concluding Remarks: Continuous Refactoring</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 10, section_id: 1) %>" title="next page"><span class="section-number">10.1. </span>It Takes a Team: Two-Pizza and Scrum</a>

        </div>
        
        </div>
    </div>
