<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter10/sub-chapter2.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="using-branches-effectively">
<h1><span class="section-number">10.2. </span>Using Branches Effectively<a class="headerlink" href="#using-branches-effectively" title="Permalink to this headline">¶</a></h1>
<p>Besides taking snapshots of your work and backing it up, version control also lets you
manage multiple versions of a project’s code base simultaneously, for example, to allow
part of the team to work on an experimental new feature without disrupting working code,
or to fix a bug in a previously-released version of the code that some customers are still
using.</p>
<p><strong>Branches</strong> are designed for such situations. Rather than thinking of commits as just a sequence
of snapshots, we should instead think of a directed, acyclic <em>graph</em> of commits. When a new
repo is created, by default it contains only a single branch, usually called the main branch,
on which a linear sequence of commits is made. At any point in time, a new branch can be
created that “splits off” from any commit of an existing branch, creating a copy of the code
tree as it exists at that commit. As soon as a branch is created, that branch and the one
from which it was split are separate: commits to one branch don’t affect the other, though
depending on project needs, commits in either may be merged back into the other. Indeed,
branches can even be split off from other branches, but overly complex branching structures
offer few benefits and are difficult to maintain. Finally, unlike a real tree branch, a repo
branch can be merged back into another branch later—either the branch from which it split off,
or some other branch. A branch can also be deleted, for example, if the project
decides to abandon the work-in-progress that branch represents.</p>

<figure>
  <%= image_tag "Chapter10/10.2.jpg", class:"center", alt: "10.2" %>
  <figcaption>
  Figure 10.2: Each circle represents a commit. Amy, Bob and Dee each start branches based on the same commit (a) to work
on different RottenPotatoes features. After several commits, Bob decides his feature won’t work out, so he deletes his
branch (b); meanwhile, Amy completes her work and merges her feature branch back into the main branch, creating the
merge-commit (c). Finally, Dee completes her feature, but since the main branch has changed due to Amy’s merge-commit
(c), Dee has to do some manual conflict resolution to complete her merge-commit (d).
  </figcaption>
</figure> 


<p>We highlight two common branch management strategies that can be used together or
separately, both of which strive to ensure that the main branch always contains a stable working
version of the code. Figure 10.2 shows a <em>feature branch</em>, which allows a developer or sub-team
to make the changes necessary to implement a particular feature without affecting the main
branch until the changes are complete and tested. If the feature is merged into the main branch
and a decision is made later to remove it (perhaps it failed to deliver the expected customer
value), the specific commits related to the merge of the feature branch can sometimes be undone,
as long as there haven’t been many changes to the main branch that depend on the new feature.</p>
<p>Figure 10.3 shows how <em>release branches</em> are used to fix problems found in a specific release.
They are widely used for delivering non-SaaS products such as libraries or gems whose releases
are far enough apart that the main branch may diverge substantially from the most recent
release branch. For example, the Linux kernel, for which developers check in thousands of
lines of code per day, uses release branches to designate stable and long-lived releases of
the kernel. Release branches often receive multiple merges from the development or main branch
and contribute multiple merges to it. Release branches are less common in delivering SaaS because
of the trend toward continuous integration/continuous deployment (Section 1.4): if you deploy
several times per week, the deployed version won’t have time to get out of sync with the main
branch, so you might as well deploy directly from the main branch. We discuss continuous
deployment further in Chapter 12.</p>
<p>Figure 10.4 shows some commands for manipulating Git branches. At any given time, the <em>current
branch</em> is whichever one you’re working on in your copy of the repo. Since in general each copy
of the repo contains all the branches, you can quickly switch back and forth between branches
in the same repo (but see Fallacies and Pitfalls for an important caveat about doing so).</p>

<figure>
    <%= image_tag "Chapter10/10.3.jpg", class:"center", alt: "10.3" %>
    <figcaption>
    Figure 10.3: (a) A new release branch is created to “snapshot” version 1.3 of RottenPotatoes. A bug is found in the release
and the fix is committed in the release branch (b); the app is redeployed from the release branch. The commit(s) containing
the fix are merged into the main branch (c), but the code in the main branch has evolved sufficiently from the code in the
release that manual adjustments to the bug fix need to be made. Meanwhile, the dev team working on the main branch finds
a critical security flaw and fixes it with one commit (d). The specific commit containing the security fix can be merged into
the release branch (e) using git cherry-pick, since we don’t want to apply any other main branch changes to the release
branch except for this fix.
    </figcaption>
</figure> 

<figure>
    <%= image_tag "Chapter10/10.4.jpg", class:"center", alt: "10.4" %>
    <figcaption>
    Figure 10.4: Common Git commands for handling branches and merging. Branch management involves merging;
Figure 10.6 tells how to undo merges gone awry
    </figcaption>
</figure> 

<p>Small teams working on a common set of features commonly use a <em>shared-repository</em> model for
managing the repo: one particular copy of the repo, referred to as the origin repo, is
designated as authoritative, and all developers agree to push their changes to the origin
and periodically pull from the origin to get others’ changes. Famously, Git itself doesn’t
care which copy of the repo is authoritative—any developer can <em>pull</em> changes from or <em>push</em>
changes to any other developer’s copy of that repo if the repo’s permissions are configured
to allow it—but for small teams, it’s convenient (and conventional) for the origin repo to
reside in the cloud on a service such as GitHub. Each team member can <em>clone</em> the origin repo
onto their development computer, do their work, make their commits on their local clone, and
periodically push their commits to the origin. From the point of view of each developer’s
local clone, the origin is one of possibly several <em>remote</em> copies of the repo, or simply
“remotes.” In the shared-repository model, the origin repo is usually the only remote.
Section 10.4 describes scenarios in which there may be multiple remotes.</p>
<p>As Figure 10.4 shows, the <code class="code docutils literal notranslate"><span class="pre">git</span> <span class="pre">push</span></code> and <code class="code docutils literal notranslate"><span class="pre">git</span> <span class="pre">pull</span></code> commands usually specify which copy of the
repository and which branch should be involved in a push or pull operation. If Amy commits
changes to her clone of the repo, those changes aren’t visible to her teammate Bob until
she does a push and Bob does a pull.</p>
<p>This raises the possibility of a <em>merge conflict</em> scenario. Returning to Figure 10.2, suppose that
Dee’s feature branch results in changes to some of the same files as Amy’s feature branch. At
the commit marked (c), Amy has successfully merged her changes into the main branch. When Dee
tries to push her changes (d), she will initially be prevented from doing so because additional
commits have occurred in the origin repo since she last pulled (probably at point (a) when
creating her branch). Dee must bring her copy of the repo up-to-date with respect to the origin
before she can push her changes. One way to do this is for her to switch back to her main branch,
then run <code class="code docutils literal notranslate"><span class="pre">git</span> <span class="pre">pull</span> <span class="pre">origin</span> <span class="pre">main</span></code> to get the latest commits on main from the origin repo; her copy
of the repo now looks the same as it looked to Amy right after point (c). Now Dee can try to merge
her branch changes back into main. If Dee’s branch changes different files than Amy’s branch, or
if they change different parts of the same file that are far apart, the merge will succeed and
Dee can then push her merged main branch back to the shared repo (<code class="code docutils literal notranslate"><span class="pre">git</span> <span class="pre">push</span> <span class="pre">origin</span> <span class="pre">main</span></code>).</p>
<div class="highlight-shell notranslate"><div class="highlight"><pre><span></span>Roses are red,
Violets are blue.
<span class="o">&lt;&lt;&lt;&lt;&lt;&lt;</span>&lt; HEAD:poem.txt
I love GitHub,
<span class="o">=======</span>
ProjectLocker rocks,
&gt;&gt;&gt;&gt;&gt;&gt;&gt; 77976da35a11db4580b80ae27e8d65caf5208086:poem.txt
and so <span class="k">do</span> you.
</pre></div>
</div>

<figure>
    <figcaption>
    Figure 10.5: When Bob tries to merge Amy’s changes, Git inserts conflict markers in poem.txt to show a merge conflict.
Line 3 marks the beginning of the conflicted region with <<<; everything until === (line 5) shows the contents of the file in
HEAD (the latest commit in Bob’s local repo) and everything thereafter until the end-of-conflict marker >>>(line 7) shows
Amy’s changes (the file as it appears in Amy’s conflicting commit, whose commit-ID is on line 7). Lines 1,2 and 8 were either
unaffected or merged automatically by Git.
    </figcaption>
</figure> 

<p>But if Dee and Amy had edited parts of the same file that were within a few lines of each other,
as in Figure 10.5, Git will conclude that there is no safe way to automatically
create a version of the file that reflects both sets of changes, and it will leave a conflicted
<em>and uncommitted</em> version of the file with conflict markers (&lt;&lt;&lt; and &gt;&gt;&gt;) in Dee’s main branch.
Dee must now manually edit that file and add and commit the manually edited version to complete
the merge, after which she can push the merged main back to the shared repo. In the next section,
we will discuss an alternative process for preventing merge conflicts before they occur. If a
merge goes badly awry, Figure 10.6 provides some mechanisms for partially or fully undoing the
results of the merge. Figure 10.7 lists some useful Git commands to help keep track of who did
what and when. Figure 10.8 shows some convenient notational alternatives to the cumbersome
40-digit Git commit-IDs.</p>
<p>Finally, don’t overlook the importance of a <em>scratch branch</em>, which is a branch that is never
intended to be merged back into the mainline code. You can create a scratch branch to explore
code changes such as exploring a spike (Section 7.4) or dry-running a radical change such as
upgrading to a major new version of your app framework.</p>
<p>Whichever branches you create, if those branches are pushed to the main repo, over time
the number of branches will grow. GitHub has a user interface for viewing and pruning
stale (inactive) branches, which helps keep your codebase manageable.</p>
<p><strong>Self-Check 10.2.1.</strong> <em>Describe a scenario in which merges could go in both directions—changes in
a feature branch merged into the main branch, and changes in the main branch merged into a
feature branch. (In Git, this is called a crisscross merge.)</em></p>
<blockquote>
<div><p>Diana starts a new branch to work on a feature. Before she completes the feature, an important
bug is fixed and the fix is merged into the main branch. Because the bug is in a part of the
code that interacts with Diana’s feature, she merges the fix from main into her own feature
branch. Finally, when she finishes the feature, her feature branch is merged back into main.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 10, section_id: 1) %>" title="previous page"><span class="section-number">10.1. </span>It Takes a Team: Two-Pizza and Scrum</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 10, section_id: 3) %>" title="next page"><span class="section-number">10.3. </span>Pull Requests and Code Reviews</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
