<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="afterword">
<h1><span class="section-number">13. </span>Afterword<a class="headerlink" href="#afterword" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p><em>The best way to predict the future is to invent it.</em></p>
<p class="attribution">—Alan Kay</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 13, section_id: 1) %>">13.1. Looking Backwards</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 13, section_id: 2) %>">13.2. Looking Forwards</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 13, section_id: 3) %>">13.3. Essential Readings</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 13, section_id: 4) %>">13.4. Last Words</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 12, section_id: 12) %>" title="previous page"><span class="section-number">12.12. </span>Concluding Remarks: Beyond PaaS Basics</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 13, section_id: 1) %>" title="next page"><span class="section-number">13.1. </span>Looking Backwards</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
