<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="saas-framework-rails-as-a-modelviewcontroller-framework">
<h1><span class="section-number">4. </span>SaaS Framework: Rails as a Model–View–Controller Framework<a class="headerlink" href="#saas-framework-rails-as-a-modelviewcontroller-framework" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p>In programming, everything we do is a special case of something more general—and often we know it too quickly.</p>
<p class="attribution">—Alan Perlis</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 4, section_id: 1) %>">4.1. The Model–View–Controller (MVC) Architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 4, section_id: 2) %>">4.2. Rails Models: Databases and Active Record</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 4, section_id: 3) %>">4.3. CHIPS: ActiveRecord Basics</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 4, section_id: 4) %>">4.4. Routes, Controllers, and Views</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 4, section_id: 5) %>">4.5. CHIPS: Rails Routes</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 4, section_id: 6) %>">4.6. Forms</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 4, section_id: 7) %>">4.7. CHIPS: Hangperson on Rails</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 4, section_id: 8) %>">4.8. Debugging: When Things Go Wrong</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 4, section_id: 9) %>">4.9. CHIPS: Hello Rails</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 4, section_id: 10) %>">4.10. Fallacies and Pitfalls</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 4, section_id: 11) %>">4.11. Concluding Remarks: Rails as a Service Framework</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 3, section_id: 9) %>" title="previous page"><span class="section-number">3.9. </span>Concluding Remarks: Continuity From CGI to SOA</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 4, section_id: 1) %>" title="next page"><span class="section-number">4.1. </span>The Model–View–Controller (MVC) Architecture</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
