<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="introducing-ruby-an-object-oriented-language">
<h1><span class="section-number">2.3. </span>Introducing Ruby,an Object-Oriented Language<a class="headerlink" href="#introducing-ruby-an-object-oriented-language" title="Permalink to this headline">¶</a></h1>
<p>Ruby is a minimalist language: while its libraries are rich, there are relatively few mechanisms <em>in the
language itself</em>. Its world view might be described as “extreme object orienta- tion.” Two principles will
help you quickly learn to read and write Ruby:</p>
<ol class="arabic simple">
<li><p>Everything is an object—even an integer—and it is literally the case that every operation is a method call on some object and every method call returns a value.</p></li>
<li><p>Like Java and Python, Ruby has conventional classes; but unlike Java public attributes or Python instance variables, only a class’s instance methods—not its instance variables—are visible outside the class. In other words, <em>all</em> access to instance variables from outside the class must take place via public <strong>accessor methods</strong>; instance variables lacking public accessor methods are effectively private. (Python supports a similar approach but doesn’t make it mandatory.)</p></li>
</ol>
<p>Let’s break down our investigation of Ruby according to the elements proposed in the previous section and in light of the above principles.</p>
<p>Types, typing, and names. Ruby is dynamically typed: variables don’t have types, though the objects they refer to do. Hence
<code class="code docutils literal notranslate"><span class="pre">x=’foo’</span> <span class="pre">;</span> <span class="pre">x=3</span></code> is legal. As row1 of Figure2.2 shows, a single or double &#64;-sign precedes names of instance or class (static) variables, while local variables are “barewords”; all must begin with lowercase letters, and <code class="code docutils literal notranslate"><span class="pre">snake_case</span></code> is strongly
preferred over <code class="code docutils literal notranslate"><span class="pre">camelCase</span></code>. Row 2 shows the syntax for other named entities such as classes and constants; all except globals (which you should never use anyway) <em>must</em> begin with a capital letter, with <code class="code docutils literal notranslate"><span class="pre">UpperCamelCase</span></code> used for class names.
(So even though strictly speaking <code class="code docutils literal notranslate"><span class="pre">lowerCamelCase</span></code> is legal for local and instance variables, it’s <em>highly</em> discouraged because it is visually difficult to distinguish from <code class="code docutils literal notranslate"><span class="pre">UpperCamelCase</span></code> and because of the ease with which a typo can
change the former into the latter and cause errors.) The namespaces for each kind of named entity are separate, so that foo, <code class="code docutils literal notranslate"><span class="pre">&#64;foo,</span> <span class="pre">&#64;&#64;foo,</span> <span class="pre">FOO,</span> <span class="pre">Foo,</span> <span class="pre">$FOO</span></code> are all distinct.</p>
<p>In learning any new language, an annoying type-related eye-poke is having to memorize how the language handles Boolean evaluation of non-Boolean expressions.
Some languages have special Boolean types and values, such as Python’s <code class="code docutils literal notranslate"><span class="pre">True</span></code> and <code class="code docutils literal notranslate"><span class="pre">False</span></code> (which have special type <code class="code docutils literal notranslate"><span class="pre">Bool</span></code>), JavaScript <code class="code docutils literal notranslate"><span class="pre">true</span></code> and <code class="code docutils literal notranslate"><span class="pre">false</span></code> (type <code class="code docutils literal notranslate"><span class="pre">boolean</span></code>),
and Ruby’s <code class="code docutils literal notranslate"><span class="pre">true</span></code> and <code class="code docutils literal notranslate"><span class="pre">false</span></code> (<code class="code docutils literal notranslate"><span class="pre">TrueClass</span></code> and <code class="code docutils literal notranslate"><span class="pre">FalseClass</span></code> respectively). To avoid confusion with such actual Boolean literals, developers often say <em>truthy</em> or <em>falsy</em>
to describe the value of a non-Boolean expression <code class="code docutils literal notranslate"><span class="pre">e</span></code> when used in a conditional of the form <code class="code docutils literal notranslate"><span class="pre">if</span> <span class="pre">(e)...</span></code>. Unfortunately, the rules for truthiness are different and largely
arbitrary in each language. In Ruby, the literals <code class="code docutils literal notranslate"><span class="pre">false</span></code> and <code class="code docutils literal notranslate"><span class="pre">nil</span></code> are falsy, but <em>all other values</em>, including the number zero, the empty string, the empty array,
and so forth, are truthy. In contrast, in Python, zero is falsy, but the empty string is truthy; in JavaScript, zero and the empty string are both falsy, as are
the special values <code class="code docutils literal notranslate"><span class="pre">undefined</span></code> and <code class="code docutils literal notranslate"><span class="pre">null</span></code>, but the empty array is truthy; and so on. In languages that include both a true Boolean type and unary logical negation
(usually !), writing as <code class="code docutils literal notranslate"><span class="pre">!!x</span></code> forces the expression to have a Boolean-valued result (for example, if <code class="code docutils literal notranslate"><span class="pre">x</span></code> is falsy, then <code class="code docutils literal notranslate"><span class="pre">!!x</span></code> is the actual Boolean value for false.</p>
<p><strong>Primitives</strong>. Figure 2.2 shows the mostly-unsurprising syntax of basic Ruby elements. Ruby has special Boolean values (row 3) including the special value <code class="code docutils literal notranslate"><span class="pre">nil</span></code>, which is the usual
result of an operation that otherwise would yield no meaningful return value, such as looking up a nonexistent key in a hash or a nonexistent value in an array.</p>
<p>Ruby has no separate “empty result” value such as Python <code class="code docutils literal notranslate"><span class="pre">none</span></code> or JavaScript <code class="code docutils literal notranslate"><span class="pre">null</span></code>.
That is to say: a JavaScript variable whose value is <code class="code docutils literal notranslate"><span class="pre">null</span></code> means that the variable references nothing in particular,
rather than signifiying “falseness” in a Boolean sense, whereas Ruby <code class="code docutils literal notranslate"><span class="pre">nil</span></code> may signal either Boolean falseness or a variable that refers to nothing.</p>
<p>In addition to strings (row 4), Ruby also includes a type called <strong>symbol</strong> (row 4), such as <code class="code docutils literal notranslate"><span class="pre">:octocat</span></code>, essentially an immutable “token” whose value is itself. It is
typically used for enumerations, like an <code class="code docutils literal notranslate"><span class="pre">enum</span></code> type in C or Java, though it has other purposes as well. A
symbol is not the same as a string, but as the figure shows, strings and symbols can be easily converted to each other.</p>
<p>Row 6 and Figure 2.3 summarize Ruby’s straightforward support for manipulating regu- lar expressions and capturing the results of regex matches.
Given the amount of text handling done by modern SaaS apps, mastering regexes and understanding how a new language provides access to a regex
engine is <em>de rigeur</em> for programmers.</p>
<p>Collections (rows 7–9: arrays and hashes) can combine keys and values of different types. Hashes in particular, also called associative arrays or
hashmaps in other languages, are ubiquitous in Ruby.</p>
<p>Every Ruby statement is an expression that returns a value; assignments return the value of their left-hand side, that is, the value of the variable
or other** L-value** that was just assigned to.</p>
<p><strong>Methods</strong>. A method is defined with def <code class="code docutils literal notranslate"><span class="pre">method_name(arg1,...,argN)</span></code> and ends with <code class="code docutils literal notranslate"><span class="pre">end</span></code>. All statements in between are the method definition. All methods
return a value; if a method doesn’t have an explicit <code class="code docutils literal notranslate"><span class="pre">return</span></code> statement, the value of the last expression evaluated in the method is its return value,
which is always well-defined since every Ruby state- ment results in a value.</p>
<p>Everything in Ruby, even a lowly integer, is a full-fledged object that is an instance of some class. Every operation, without exception, are performed by calling a
method on an object. The notation <code class="code docutils literal notranslate"><span class="pre">obj.meth()</span></code> calls method <code class="code docutils literal notranslate"><span class="pre">meth</span></code> on the object <code class="code docutils literal notranslate"><span class="pre">obj</span></code>, which is said to be the <em>receiver</em> and is expected to be able to <em>respond to</em> <code class="code docutils literal notranslate"><span class="pre">meth</span></code>.
For example, the expression <code class="code docutils literal notranslate"><span class="pre">5.class()</span></code> <em>sends</em> the method call <code class="code docutils literal notranslate"><span class="pre">class</span></code> with no arguments to the object <code class="code docutils literal notranslate"><span class="pre">5</span></code>. The <code class="code docutils literal notranslate"><span class="pre">class</span></code> method happens to return the class that an object
belongs to, in this case <code class="code docutils literal notranslate"><span class="pre">Fixnum</span></code>.</p>
<p>As we’ll see in more detail in the next section, Ruby allows omitting parentheses around argument lists when doing so does not result in ambiguous parsing.
Hence <code class="code docutils literal notranslate"><span class="pre">5.class</span></code> is equivalent to <code class="code docutils literal notranslate"><span class="pre">5.class()</span></code>.</p>
<p>Furthermore, since everything is an object, the result of every expression is, by definition, something on which you can call other methods. Hence <code class="code docutils literal notranslate"><span class="pre">(5.class).superclass</span></code>
tells you what <code class="code docutils literal notranslate"><span class="pre">Fixnum</span></code>’s superclass is, by sending the <code class="code docutils literal notranslate"><span class="pre">superclass</span></code> method call with no arguments to <code class="code docutils literal notranslate"><span class="pre">Fixnum</span></code>, an object representing the class to which <code class="code docutils literal notranslate"><span class="pre">5</span></code> belongs.
Method calls associate to the left, so this example could be written <code class="code docutils literal notranslate"><span class="pre">5.class.superclass</span></code>. Such <em>method chaining</em> is extremely idiomatic in Ruby.</p>

<figure>
    <%= image_tag "Chapter2/2.2.jpg", class:"center", alt: "2.2 Basic Ruby elements and control structures" %>
    <figcaption>
        Figure 2.2: Basic Ruby elements and control structures, with optional items in [square brackets]. Statements are separated
        by newlines (most commonly) or semicolons (rarely). Indentation is insignificant. Besides the usual basic primitive types and
        collection types, hashes (also known as associative arrays or hashmaps; Ruby class Hash) are ubiquitous.
    </figcaption>
</figure>


<figure>
    <%= image_tag "Chapter2/2.3.jpg", class:"center", alt: "2.3 PCRE in Ruby" %>
    <figcaption>
        Figure 2.3: Like most modern languages, Ruby supports Perl compatible regular expressions (PCRE), often shortened to
        regex(es) or regexp(s). The name PCRE is inspired by the vastly expanded regular-expression capabilities that first appeared
        in the Perl scripting language.
    </figcaption>
</figure>


<figure>
    <%= image_tag "Chapter2/2.4.jpg", class:"center", alt: "2.4" %>
    <figcaption>
        Figure 2.4: The first column is Ruby’s syntactic sugar for common operations, the second column shows the explicit method
        call, and the third column shows how to perform the same method call using Ruby’s send, which accepts either a string or
        (more idiomatically) a symbol for the method name.
    </figcaption>
</figure>


<p>As Figure 2.4 shows, even basic math operations and array references are actually method calls on their receivers. Hence, concepts such as <strong>type casting</strong> rarely apply in Ruby:
while you can certainly call <code class="code docutils literal notranslate"><span class="pre">5.to_s</span></code> or <code class="code docutils literal notranslate"><span class="pre">&quot;5&quot;.to_i</span></code> to convert between strings and integers, for example, writing <code class="code docutils literal notranslate"><span class="pre">a+b</span></code> means calling method <code class="code docutils literal notranslate"><span class="pre">+</span></code> on receiver a, so the behavior depends
entirely on how <code class="code docutils literal notranslate"><span class="pre">a</span></code>’s class (or one of its ancestors or mix-ins) implements the instance method <code class="code docutils literal notranslate"><span class="pre">+</span></code>. Hence, both <code class="code docutils literal notranslate"><span class="pre">3+2</span></code> and <code class="code docutils literal notranslate"><span class="pre">&quot;foo&quot;+&quot;bar&quot;</span></code> are legal Ruby expressions, but the first one
calls <code class="code docutils literal notranslate"><span class="pre">+</span></code> as defined in <code class="code docutils literal notranslate"><span class="pre">Numeric</span></code> (the ancestor class of <code class="code docutils literal notranslate"><span class="pre">Fixnum</span></code>) whereas the second calls <code class="code docutils literal notranslate"><span class="pre">+</span></code> as defined
in <code class="code docutils literal notranslate"><span class="pre">String</span></code>. Rubyists write <code class="code docutils literal notranslate"><span class="pre">ClassName#method</span></code> to indicate the instance method <code class="code docutils literal notranslate"><span class="pre">method</span></code> in <code class="code docutils literal notranslate"><span class="pre">ClassName</span></code> and <code class="code docutils literal notranslate"><span class="pre">ClassName.method</span></code> to indicate the class (static) method method in <code class="code docutils literal notranslate"><span class="pre">ClassName</span></code>.
We can therefore say that the expression <code class="code docutils literal notranslate"><span class="pre">3+2</span></code> results in calling <code class="code docutils literal notranslate"><span class="pre">Fixnum#+</span></code> on the receiver <code class="code docutils literal notranslate"><span class="pre">3</span></code>.</p>
<p><strong>Abstraction and encapsulation.</strong> Ruby supports traditional inheritance, using the notation <code class="code docutils literal notranslate"><span class="pre">class</span> <span class="pre">SubFoo&lt;Foo</span></code> to indicate that <code class="code docutils literal notranslate"><span class="pre">SubFoo</span></code> is a subclass of <code class="code docutils literal notranslate"><span class="pre">Foo</span></code>. A class can
inherit from at most one superclass (Ruby lacks multiple inheritance), and all classes ultimately inherit from <code class="code docutils literal notranslate"><span class="pre">BasicObject</span></code>, sometimes called the <em>root class</em>, which has
no superclass. As with most languages that support inheritance, if an object receives a call for a method not defined in its class, the call will be passed up to the superclass,
and so on until the root class is reached or an <em>undefined method</em> exception is raised. The default constructor for a class must be a method named <code class="code docutils literal notranslate"><span class="pre">initialize</span></code>, but it is always
called as <code class="code docutils literal notranslate"><span class="pre">Foo.new</span></code>—that is an idiosyncrasy of the language. Classes can have both class (static) methods and instance methods, and both class (static) variables and instance
variables. Class variable names begin with <code class="code docutils literal notranslate"><span class="pre">&#64;&#64;</span></code> and instance variable names begin with <code class="code docutils literal notranslate"><span class="pre">&#64;</span></code>. Class and instance method names look the same.</p>
<p>Probably most surprising thing to newcomers learning about Ruby’s class machinery is that there is <em>no direct access</em> to class or <em>instance variables</em> from outside the class at all.
In other languages, certain instance variables of a class can be declared public, such as attributes in Java. In Ruby, access to class or instance state must be through <strong>getter
and setter methods</strong>, also collectively called <em>accessor methods</em>. Figure 2.5 shows examples of getters (lines 10–12, 16), setters (lines 13–15: note that setter methods conventionally
have names ending in <code class="code docutils literal notranslate"><span class="pre">=</span></code>, allowing syntax such as line 33 shows), and a simple instance method that accesses other instance variables (line 18). From the caller’s point of view in
lines 33–34, it is impossible to tell whether a given method simply “wraps” access to an instance variable (as <code class="code docutils literal notranslate"><span class="pre">title</span></code> does) or produces its result by computing something
(as <code class="code docutils literal notranslate"><span class="pre">full_title</span></code> does). This design choice illustrates Ruby’s hard-line position on the <strong>Uniform Access Principle</strong>, which concerns one aspect of <strong>encapsulation</strong> in object-oriented programming:
It should be impossible to determine the implementation details of an object’s state or its operations from outside the object.</p>

<p>Beware! If you’re used to Java or Python, it’s very easy to think of the syntax in line 33
as <em>assignment to an attribute or instance variable</em>, but it is just a method call, and in fact could be written as <code class="code docutils literal notranslate"><span class="pre">beautiful.send(’title=’,</span> <span class="pre">’La</span> <span class="pre">vita</span> <span class="pre">e</span> <span class="pre">bella’)</span></code>.
Furthermore, note that any instance variable that has not previously been assigned to will silently evaluate to <code class="code docutils literal notranslate"><span class="pre">nil</span></code>.</p>


<div class="highlight-ruby notranslate"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">Movie</span>
    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">title</span><span class="p">,</span> <span class="n">year</span><span class="p">)</span>
        <span class="vi">@title</span> <span class="o">=</span> <span class="n">title</span>
        <span class="vi">@year</span> <span class="o">=</span> <span class="n">year</span>
    <span class="k">end</span>
    <span class="c1"># class (static) methods - &#39;self&#39; refers to the actual class</span>
    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">find_in_tmdb</span><span class="p">(</span><span class="n">title_words</span><span class="p">)</span>
        <span class="c1"># call TMDb to search for a movie...</span>
    <span class="k">end</span>
    <span class="k">def</span> <span class="nf">title</span>
        <span class="vi">@title</span>
    <span class="k">end</span>
    <span class="k">def</span> <span class="nf">title=</span><span class="p">(</span><span class="n">new_title</span><span class="p">)</span>
        <span class="vi">@title</span> <span class="o">=</span> <span class="n">new_title</span>
    <span class="k">end</span>
    <span class="k">def</span> <span class="nf">year</span> <span class="p">;</span> <span class="vi">@year</span> <span class="p">;</span> <span class="k">end</span>
    <span class="c1"># note: no way to modify value of @year after initialized</span>
    <span class="k">def</span> <span class="nf">full_title</span> <span class="p">;</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="vi">@title</span><span class="si">}</span><span class="s2"> (</span><span class="si">#{</span><span class="vi">@year</span><span class="si">}</span><span class="s2">)&quot;</span><span class="p">;</span> <span class="k">end</span>
<span class="k">end</span>

<span class="c1"># A more concise and Rubyistic version of class definition:</span>
<span class="k">class</span> <span class="nc">Movie</span>
    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">find_in_tmdb</span><span class="p">(</span><span class="n">title_words</span><span class="p">)</span>
        <span class="c1"># call TMDb to search for a movie...</span>
    <span class="k">end</span>
    <span class="kp">attr_accessor</span> <span class="ss">:title</span> <span class="c1"># can read and write this attribute</span>
    <span class="kp">attr_reader</span> <span class="ss">:year</span>    <span class="c1"># can only read this attribute</span>
    <span class="k">def</span> <span class="nf">full_title</span> <span class="p">;</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="vi">@title</span><span class="si">}</span><span class="s2"> (</span><span class="si">#{</span><span class="vi">@year</span><span class="si">}</span><span class="s2">)&quot;</span><span class="p">;</span> <span class="k">end</span>
<span class="k">end</span>

<span class="c1"># Example use of the Movie class</span>
<span class="n">beautiful</span> <span class="o">=</span> <span class="no">Movie</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s1">&#39;Life is Beautiful&#39;</span><span class="p">,</span> <span class="s1">&#39;1997&#39;</span><span class="p">)</span>
<span class="n">beautiful</span><span class="o">.</span><span class="n">title</span> <span class="o">=</span> <span class="s1">&#39;La vita e bella&#39;</span>
<span class="n">beautiful</span><span class="o">.</span><span class="n">full_title</span>    <span class="c1">#   =&gt; &quot;La vita e bella (1997)&quot;</span>
<span class="n">beautiful</span><span class="o">.</span><span class="n">year</span> <span class="o">=</span> <span class="mi">1998</span>   <span class="c1"># =&gt; ERROR: no method &#39;year=&#39;</span>
</pre></div>
</div>
<figure>
    <figcaption>
        Figure 2.5: A simple class definition in Ruby showing that explicit getter and setter methods are the only way to access
        instance variables from outside a class, and that Ruby provides shortcuts (lines 26–27) that avoid having to define every
        accessor method explicitly. Rather than distinguish “private” vs. “public” instance and class variables, one simply provides
        public accessor methods (read-only, write-only, or read/write) for state that should be publicly visible
    </figcaption>
</figure>

<div class="highlight-ruby notranslate"><div class="highlight"><pre><span></span><span class="c1">#  Time#now, Time#+ and Time#- represent time as &#39;seconds since 1/1/70&#39;</span>
<span class="k">class</span> <span class="nc">Fixnum</span>
     <span class="k">def</span> <span class="nf">seconds</span>  <span class="p">;</span> <span class="nb">self</span> <span class="p">;</span> <span class="k">end</span>
     <span class="k">def</span> <span class="nf">minutes</span>  <span class="p">;</span> <span class="nb">self</span> <span class="o">*</span> <span class="mi">60</span> <span class="p">;</span> <span class="k">end</span>
     <span class="k">def</span> <span class="nf">hours</span>    <span class="p">;</span> <span class="nb">self</span> <span class="o">*</span> <span class="mi">60</span> <span class="o">*</span> <span class="mi">60</span> <span class="p">;</span> <span class="k">end</span>
     <span class="k">def</span> <span class="nf">ago</span>      <span class="p">;</span> <span class="no">Time</span><span class="o">.</span><span class="n">now</span> <span class="o">-</span> <span class="nb">self</span> <span class="p">;</span> <span class="k">end</span>
     <span class="k">def</span> <span class="nf">from_now</span> <span class="p">;</span> <span class="no">Time</span><span class="o">.</span><span class="n">now</span> <span class="o">+</span> <span class="nb">self</span> <span class="p">;</span> <span class="k">end</span>
<span class="k">end</span>

<span class="no">Time</span><span class="o">.</span><span class="n">now</span>                <span class="c1"># =&gt; 2018-11-22 16:58:04 +0100</span>
<span class="mi">5</span><span class="o">.</span><span class="n">minutes</span><span class="o">.</span><span class="n">ago</span>           <span class="c1"># =&gt; 2018-11-22 16:53:12 +0100</span>
<span class="mi">5</span><span class="o">.</span><span class="n">minutes</span> <span class="o">-</span> <span class="mi">4</span><span class="o">.</span><span class="n">minutes</span>   <span class="c1"># =&gt; 60</span>
<span class="mi">3</span><span class="o">.</span><span class="n">hours</span><span class="o">.</span><span class="n">from_now</span>        <span class="c1"># =&gt; 2018-11-22 19:58:45 +0100</span>
</pre></div>
</div>
<figure>
    <figcaption>
        Figure 2.6: By reopening Ruby’s core Fixnum class and adding six new instance methods to it, we get a beautiful syntax for
        time arithmetic. (Rails includes a more complete version of this facility.) Unix was invented in 1970, so its designers chose to
        represent time as the number of seconds since midnight (GMT) 1970–01–01, sometimes called the beginning of the epoch.
    </figcaption>
</figure>

<p><strong>Self-Check 2.3.1.</strong> <em>What is the explicit-send equivalent of each of the following
expressions:</em>  <code class="code docutils literal notranslate"><span class="pre">a&lt;b,</span> <span class="pre">a==b,</span> <span class="pre">x[0],</span> <span class="pre">x[0]=’foo’</span></code>.</p>
<blockquote>
<div><p><code class="code docutils literal notranslate"><span class="pre">a.send(:&lt;,b),</span> <span class="pre">a.send(:==,b),</span> <span class="pre">x.send(:[],0),</span> <span class="pre">x.send(:[]=,0,’foo’)</span></code></p>
</div></blockquote>
<p><strong>Self-Check 2.3.2.</strong> <em>Verify in an interactive Ruby interpreter that</em> <code class="code docutils literal notranslate"><span class="pre">5/4</span></code> <em>gives 1, but</em> <code class="code docutils literal notranslate"><span class="pre">5/4.0</span></code> <em>and</em>
<code class="code docutils literal notranslate"><span class="pre">5.0/4</span></code> <em>both give</em> 1.25. <em>Explain this behavior by identifying which class’s / method is called
in each case, and how you think it handles its argument.</em></p>
<blockquote>
<div><p>In <code class="code docutils literal notranslate"><span class="pre">5/4</span></code> and <code class="code docutils literal notranslate"><span class="pre">5/4.0</span></code>, the Integer class’s / instance method is called on the receiver 5. That method performs integer
division if its argument is also an integer, but if its argument is a float, it converts the receiver to a float and
performs floating-point division. In <code class="code docutils literal notranslate"><span class="pre">5.0/4</span></code>, the <code class="code docutils literal notranslate"><span class="pre">Float</span></code> class’s / method is called, which always performs floating-point division.</p>
</div></blockquote>
<p><strong>Self-Check 2.3.3.</strong> <em>Why is</em> <code class="code docutils literal notranslate"><span class="pre">movie.&#64;year=1998</span></code> <em>not a substitute for</em> <code class="code docutils literal notranslate"><span class="pre">movie.year=1998</span></code>?</p>
<blockquote>
<div><p>The notation <code class="code docutils literal notranslate"><span class="pre">a.b</span></code> always means “call method <code class="code docutils literal notranslate"><span class="pre">b</span></code> on receiver <code class="code docutils literal notranslate"><span class="pre">a</span></code>”, but <code class="code docutils literal notranslate"><span class="pre">&#64;year</span></code> is the name of an instance variable,
whereas <code class="code docutils literal notranslate"><span class="pre">year=</span></code> is the name of an instance method.</p>
</div></blockquote>
<p><strong>Self-Check 2.3.4.</strong> <em>Suppose we delete line 12 from Figure 2.5. What would be the result of executing</em> <code class="code docutils literal notranslate"><span class="pre">Movie.new(’Inception’,2011).year</span></code> <em>?</em></p>
<blockquote>
<div><p>Ruby would complain that the year method is undefined.</p>
</div></blockquote>
<p><strong>Self-Check 2.3.5.</strong> <em>In Figure 2.6, is</em> <code class="code docutils literal notranslate"><span class="pre">Time.now</span></code> <em>a class method or an instance
method?</em></p>
<blockquote>
<div><p>The fact that its receiver is a class name <code class="code docutils literal notranslate"><span class="pre">(Time)</span></code> tells us it’s a class method.</p>
</div></blockquote>
<p><strong>Self-Check 2.3.6.</strong> <em>Why does</em> <code class="code docutils literal notranslate"><span class="pre">5.superclass</span></code> <em>result in an “undefined method” error? (Hint: consider the
difference between calling</em> <code class="code docutils literal notranslate"><span class="pre">superclass</span></code> <em>on</em> 5 <em>itself vs. calling it on the object returned by</em> <code class="code docutils literal notranslate"><span class="pre">5.class</span></code> <em>.
)</em></p>
<blockquote>
<div><p><code class="code docutils literal notranslate"><span class="pre">superclass</span></code> is a method defined on classes. The object <code class="code docutils literal notranslate"><span class="pre">5</span></code> is not itself a class, so you can’t call
<code class="code docutils literal notranslate"><span class="pre">superclass</span></code> on it</p>
</div></blockquote>
<p><strong>Self-Check 2.3.7.</strong> <em>Which of the following Ruby expressions are equal to each other: (a)</em> <code class="code docutils literal notranslate"><span class="pre">:foo</span></code> <em>(b)</em> <code class="code docutils literal notranslate"><span class="pre">%q{foo}</span></code> <em>(c)</em> <code class="code docutils literal notranslate"><span class="pre">%Q{foo}</span></code> <em>(d)</em> <code class="code docutils literal notranslate"><span class="pre">’foo’.to_sym</span></code> <em>(e)</em> <code class="code docutils literal notranslate"><span class="pre">:foo.to_s</span></code></p>
<blockquote>
<div><p><strong>(a)</strong> and <strong>(d)</strong> are equal to each other; (b), (c), and (e) are equal to each others</p>
</div></blockquote>
<p><strong>Self-Check 2.3.8.</strong> <em>What is captured by $1 when the string 25 to 1 is matched against each of the following
regexps:</em>
(a) <code class="code docutils literal notranslate"><span class="pre">/(\d+)$/</span></code>
(b) <code class="code docutils literal notranslate"><span class="pre">/^\d+([^0-9]+)/</span></code></p>
<blockquote>
<div><p><strong>(a)</strong> the string “1” <strong>(b)</strong> the string “ to ” (including the leading and trailing spaces)</p>
</div></blockquote>

<figure>
    <%= image_tag "Chapter2/2.7.jpg", class:"center", alt: "2.7" %>
    <figcaption>
    Figure 2.7: Three legal and equivalent calls to the method link_to (which we’ll meet in Section 4.4) that takes one string
    argument and one hash argument. The first is fully parenthesized, the second omits the parentheses around the call
    arguments and the curly braces around the final hash argument, and the third uses the alternative (Ruby ≥ 2.0) syntax for
    the hash keys in the second argument.
    </figcaption>
</figure>

<p><strong>Self-Check 2.3.9.</strong> <em>Consider line 18 of Figure 2.5. Explain why the following would be an acceptable alternative way to define the</em> <code class="code docutils literal notranslate"><span class="pre">full_title</span></code> <em>method,
and the pros and cons compared to the way it appears in the figure:</em>
<code class="code docutils literal notranslate"><span class="pre">def</span> <span class="pre">full_title</span> <span class="pre">;</span> <span class="pre">&quot;#title</span> <span class="pre">(#year)&quot;;</span> <span class="pre">end</span></code></p>
<blockquote>
<div><p>This version calls the accessor methods title and year rather than accessing the instance variables directly. Doing so decouples the
implementation of this method from the implementations of the underlying state of the movie (title and year).</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 2, section_id: 2) %>" title="previous page"><span class="section-number">2.2. </span>Pair Programming</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 2, section_id: 4) %>" title="next page"><span class="section-number">2.4. </span>Ruby Idioms: Poetry Mode, Blocks, Duck Typing</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
