    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="requirements-bdd-and-user-stories">
<h1><span class="section-number">7. </span>Requirements: BDD and User Stories<a class="headerlink" href="#requirements-bdd-and-user-stories" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p>Clearly, programming courses should teach methods of design and construction, and the selected
examples should be such that a gradual development can be nicely demonstrated.</p>
<p class="attribution">—Niklaus Wirth, “Program Development by Stepwise Refinement,” CACM 14(5), May 1971</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 1) %>">7.1. Behavior-Driven Design and User Stories</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 2) %>">7.2. SMART User Stories</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 3) %>">7.3. Lo-Fi User Interface Sketches and Storyboards</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 4) %>">7.4. Points and Velocity</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 5) %>">7.5. Agile Cost Estimation</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 6) %>">7.6. Cucumber: From User Stories to Acceptance Tests</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 7) %>">7.7. CHIPS: Intro to BDD and Cucumber</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 8) %>">7.8. Explicit vs. Implicit and Imperative vs. Declarative Scenarios</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 9) %>">7.9. The Plan-And-Document Perspective on Documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 10) %>">7.10. Fallacies and Pitfalls</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 11) %>">7.11. Concluding Remarks: Pros and Cons of BDD</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 6, section_id: 12) %>" title="previous page"><span class="section-number">6.12. </span>Concluding Remarks: JavaScript Past, Present and Future</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 7, section_id: 1) %>" title="next page"><span class="section-number">7.1. </span>Behavior-Driven Design and User Stories</a>

        </div>
        
        </div>
    </div>
