    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="dev-ops">
<h1><span class="section-number">12. </span>Dev/Ops<a class="headerlink" href="#dev-ops" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p><em>My response was “Congratulations, Ron, that should work.”</em></p>
<p class="attribution">—Len Adleman, reacting to Ron Rivest’s encryption proposal, 1977</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 1) %>">12.1. From Development to Deployment</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 2) %>">12.2. Three-Tier Architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 3) %>">12.3. Responsiveness, Service Level Objectives, and Apdex</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 4) %>">12.4. Releases and Feature Flags</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 5) %>">12.5. Monitoring and Finding Bottlenecks</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 6) %>">12.6. Improving Rendering and Database Performance With Caching</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 7) %>">12.7. Avoiding Abusive Database Queries</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 8) %>">12.8. CHIPS: Exploiting Caching and Indices</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 9) %>">12.9. Security: Defending Customer Data in Your App</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 10) %>">12.10. The Plan-And-Document Perspective on Operations</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 11) %>">12.11. Fallacies and Pitfalls</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 12) %>">12.12. Concluding Remarks: Beyond PaaS Basics</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 11, section_id: 10) %>" title="previous page"><span class="section-number">11.10. </span>Concluding Remarks: Frameworks Capture Design Patterns</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 12, section_id: 1) %>" title="next page"><span class="section-number">12.1. </span>From Development to Deployment</a>

        </div>
        
        </div>
    </div>
