<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter12/index.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="dev-ops">
<h1><span class="section-number">12. </span>Dev/Ops<a class="headerlink" href="#dev-ops" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p><em>My response was “Congratulations, Ron, that should work.”</em></p>
<p class="attribution">—Len Adleman, reacting to Ron Rivest’s encryption proposal, 1977</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 1) %>">12.1. From Development to Deployment</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 2) %>">12.2. Three-Tier Architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 3) %>">12.3. Responsiveness, Service Level Objectives, and Apdex</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 4) %>">12.4. Releases and Feature Flags</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 5) %>">12.5. Monitoring and Finding Bottlenecks</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 6) %>">12.6. Improving Rendering and Database Performance With Caching</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 7) %>">12.7. Avoiding Abusive Database Queries</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 8) %>">12.8. CHIPS: Exploiting Caching and Indices</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 9) %>">12.9. Security: Defending Customer Data in Your App</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 10) %>">12.10. The Plan-And-Document Perspective on Operations</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 11) %>">12.11. Fallacies and Pitfalls</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 12) %>">12.12. Concluding Remarks: Beyond PaaS Basics</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 11, section_id: 10) %>" title="previous page"><span class="section-number">11.10. </span>Concluding Remarks: Frameworks Capture Design Patterns</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 12, section_id: 1) %>" title="next page"><span class="section-number">12.1. </span>From Development to Deployment</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
