    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="software-maintenance-enhancing-legacy-software-using-refactoring-and-agile-methods">
<h1><span class="section-number">9. </span>Software Maintenance: Enhancing Legacy Software Using Refactoring and Agile Methods<a class="headerlink" href="#software-maintenance-enhancing-legacy-software-using-refactoring-and-agile-methods" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p><em>There probably isn’t a “best” way to build the system, or even any major part of it;
much more important is to avoid choosing a terrible way, and to have clear division of
responsibilities among the parts.</em></p>
<p class="attribution">—Butler Lampson, Hints for Computer System Design, 1983</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 1) %>">9.1. What Makes Code “Legacy” and How Can Agile Help?</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 2) %>">9.2. Exploring a Legacy Codebase</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 3) %>">9.3. Establishing Ground Truth With Characterization Tests</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 4) %>">9.4. Comments and Commits: Documenting Code</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 5) %>">9.5. Metrics, CodeSmells, and SOFA</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 6) %>">9.6. Method-Level Refactoring: Replacing Dependencies With Seams</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 7) %>">9.7. The Plan-And-Document Perspective on Working With Legacy Code</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 8) %>">9.8. Fallacies and Pitfalls</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 9) %>">9.9. Concluding Remarks: Continuous Refactoring</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 8, section_id: 12) %>" title="previous page"><span class="section-number">8.12. </span>Concluding Remarks: TDD vs. Conventional Debugging</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 9, section_id: 1) %>" title="next page"><span class="section-number">9.1. </span>What Makes Code “Legacy” and How Can Agile Help?</a>

        </div>
        
        </div>
    </div>
