<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter11/sub-chapter1.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="patterns-antipatterns-and-solid-class-architecture">

<figure>
  <%= image_tag "Chapter11/11.1.svg", class:"center", alt: "11.1" %>
  <figcaption>
  Figure 11.1: The Agile software lifecycle and its relationship to the chapters in this book. This chapter covers design
patterns, which influence BDD and TDD for new apps and for enhancing legacy code.
  </figcaption>
</figure> 

<h1><span class="section-number">11.1. </span>Patterns, Antipatterns, and SOLID Class Architecture<a class="headerlink" href="#patterns-antipatterns-and-solid-class-architecture" title="Permalink to this headline">¶</a></h1>
<p>In Chapter 3, we introduced the idea of a design pattern: a reusable structure,
behavior, strategy, or technique that captures a proven solution to a collection
of similar problems by <em>separating the things that change from those that stay the
same</em>. Patterns play a major role in helping us achieve our goal throughout this
book: producing code that is not only correct (TDD) and meets a customer need (BDD),
but is also concise, readable, DRY, and generally beautiful. Figure 11.1 highlights
the role of design patterns in the Agile lifecycle as covered in this chapter.</p>
<p>While we have already seen architectural patterns such as Client–Server and structural
patterns such as Model–View–Controller, this chapter examines design patterns that apply
to classes and class architecture. As Figure 11.2 shows, we will follow a similar approach
as we did in Chapter 9. Rather than simply listing a catalog of design patterns, we’ll
motivate their use by starting from some guidelines about what makes a class architecture
good or bad, identifying smells and metrics that indicate possible problem spots, and
showing how some of these problems can be fixed by refactoring—both within classes and by
moving code across classes—to eliminate the problems. In some cases, we can refactor to make
the code match an existing and proven design pattern. In other cases, the refactoring doesn’t
necessarily result in major structural changes to the class architecture.</p>

<figure>
  <%= image_tag "Chapter11/11.2.jpg", class:"center", alt: "11.2" %>
  <figcaption>
  Figure 11.2: The parallels between the warning symptoms and remedies introduced for individual classes and methods in
Chapter 9 and those introduced for inter-class relationships in this chapter. For reasons explained in the text, whereas most
books use the I in SOLID for Interface Segregation (a smell that doesn’t arise in Ruby) and D for injecting Dependencies, we
instead use I for Injecting dependencies and D for the Demeter principle, which arises frequently in Ruby.
  </figcaption>
</figure> 

<p>As with method-level refactoring, application of design patterns is best learned by doing, and
the number of design patterns exceeds what we can cover in one chapter of one book. Indeed,
there are entire books just on design patterns, including the seminal <em>Design Patterns: Elements
of Reusable Object-Oriented Software</em> (Gamma et al. 1994), whose authors became known as the
“Gang of Four” or GoF, and their catalog known as the “<strong>GoF design patterns.</strong>” The 23 GoF
design patterns are divided into Creational, Structural, and Behavioral design patterns, as
Figure 11.3 shows. As with Fowler’s original book on refactoring, the GoF design patterns
book gave rise to other books with examples tailored to specific languages including Ruby
(Olsen 2007).</p>
<p>The GoF authors cite two overarching principles of good object-oriented design that in-
form most of the patterns:</p>
<ul class="simple">
<li><p>Prefer Composition and Delegation over Inheritance.</p></li>
<li><p>Program to an Interface, not an Implementation.</p></li>
</ul>
<p>We will learn what these catch-phrases mean as we explore some specific design patterns.</p>
<p>In an ideal world, all programmers would use design patterns tastefully, continuously
refactoring their code as Chapter 9 suggests, and all code would be beautiful. Needless
to say, this is not always the case. An <em>antipattern</em> is a piece of code that seems to want
to be expressed in terms of a well-known design pattern, but isn’t—often because the
original (good) code has evolved to fill new needs without refactoring along the way.
<em>Design smells</em>, similar to the code smells we saw in Chapter 9, are warning signs that
your code may be headed towards an antipattern. In contrast to code smells, which typically
apply to methods within a class, design smells apply to relationships between classes and
how responsibilities are divided among them. Therefore, whereas refactoring a method involves
moving code around <em>within</em> a class, refactoring a design involves moving code <em>between</em> classes,
creating new classes or modules (perhaps by extracting commonality from existing ones), or
removing classes that aren’t pulling their weight.</p>
<p>Similar to SOFA in Chapter 9, the mnemonic SOLID (credited to Robert C. Martin)
stands for a set of five design principles that clean code should respect. As in Chapter 9,
design smells and quantitative metrics can tell us when we’re in danger of violating one or
more SOLID guidelines; the fix is often a refactoring that eliminates the problem by bringing
the code in line with one or more design patterns.</p>

<figure>
  <%= image_tag "Chapter11/11.3.jpg", class:"center", alt: "11.3" %>
  <figcaption>
  Figure 11.3: The 23 GoF design patterns spanning three categories, with italics showing a subset we’ll encounter as we
illustrate and fix SOLID violations and with closely-related patterns grouped into a single entry, as with Abstract Factory
and Factory Method. Whenever we introduce a design pattern, we’ll explain the pattern’s goal, show a Unified Modeling
Language representation (introduced in the next section) of the class architecture before and after refactoring to that
pattern, and when possible, give an example of how the pattern is used “in the wild” in Rails itself or in a Ruby gem.
  </figcaption>
</figure> 

<figure>
  <%= image_tag "Chapter11/11.4.jpg", class:"center", alt: "11.4" %>
  <figcaption>
  Figure 11.4: The SOLID design guidelines and some smells that may suggest your code violates one or more of them. We
diverge a little bit from standard usage of SOLID: we use I for Injecting dependencies and D for the Demeter principle,
whereas most books use I for Interface Segregation (which doesn’t apply in Ruby) and D for injecting Dependencies.
  </figcaption>
</figure> 

<p>Figure 11.4 shows the SOLID mnemonics and what they tell us about good composition of classes.
In our discussion of selected design patterns, we’ll see violations of each one of these
guidelines, and show how refactoring the bad code (in some cases, with the goal of applying a
design pattern) can fix the violation. In general, the SOLID principles strive for a class
architecture that avoids various problems that thwart productivity:</p>
<ol class="arabic simple">
<li><p>Viscosity: it’s easier to fix a problem using a quick hack, even though you know that’s not the right thing to do.</p></li>
<li><p>Immobility: it’s hard to be DRY and because the functionality you want to reuse is wired into the app in a way that makes extraction difficult.</p></li>
<li><p>Needless repetition: possibly as a consequence of immobility, the app has similar func- tionality duplicated in multiple places. As a result, a change in one part of the app often ripples to many other parts of the app, so that a small change in functionality requires a lot of little changes to code and tests, a process sometimes called <em>shotgun surgery</em>.</p></li>
<li><p>Needless complexity: the app’s design reflects generality that was inserted before it was needed.</p></li>
</ol>
<p>As with refactoring and legacy code, seeking out design smells and addressing them by refactoring
with judicious use of design patterns is a skill learned by doing. Therefore, rather than
presenting “laundry lists” of design smells, refactorings, and design patterns, we focus our
discussion around the SOLID principles and give a few representative examples of the overall
process of identifying design smells and assessing the alternatives for addressing
them. As you tackle your own applications, perusing the more detailed resources listed
in Section 11.10 is essential.</p>
<p><strong>Self-Check 11.1.1.</strong> <em>True or false: one measure of the quality of a piece of software is
the degree to which it uses design patterns.</em></p>
<blockquote>
<div><p>False: while design patterns provide proven solutions to some common problems, code that
doesn’t exhibit such problems may not need those patterns, but that doesn’t make it poor
code. The GoF authors specifically warn against measuring code quality in terms of design
pattern usage.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= chapter_path(chapter_id: 11) %>" title="previous page"><span class="section-number">11. </span>Design Patterns for SaaS Apps</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 11, section_id: 2) %>" title="next page"><span class="section-number">11.2. </span>Just Enough UML</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
