<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="testing-test-driven-development">
<h1><span class="section-number">8. </span>Testing: Test-Driven Development<a class="headerlink" href="#testing-test-driven-development" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p>Let us change our traditional attitude to the construction of programs: Instead of imagining
that our main task is to instruct a computer what to do, let us concentrate rather on explaining
to human beings what we want a computer to do.</p>
<p class="attribution">—Donald Knuth, Literate Programming, 1984</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 1) %>">8.1. FIRST, TDD, and Red–Green–Refactor</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 2) %>">8.2. Anatomy of a Test Case: Arrange, Act, Assert</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 3) %>">8.3. Isolating Code: Doubles and Seams</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 4) %>">8.4. Stubbing the Internet</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 5) %>">8.5. CHIPS: Intro to RSpec on Rails</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 6) %>">8.6. Fixtures and Factories</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 7) %>">8.7. Coverage Concepts and Types of Tests</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 8) %>">8.8. Other Testing Approaches and Terminology</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 9) %>">8.9. CHIPS:The Acceptance Test/Unit Test Cycle</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 10) %>">8.10. The Plan-And-Document Perspective on Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 11) %>">8.11. Fallacies and Pitfalls</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 12) %>">8.12. Concluding Remarks: TDD vs. Conventional Debugging</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 7, section_id: 11) %>" title="previous page"><span class="section-number">7.11. </span>Concluding Remarks: Pros and Cons of BDD</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 8, section_id: 1) %>" title="next page"><span class="section-number">8.1. </span>FIRST, TDD, and Red–Green–Refactor</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
