    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="how-to-learn-a-new-language">
<h1><span class="section-number">2. </span>How to Learn a New Language<a class="headerlink" href="#how-to-learn-a-new-language" title="Permalink to this headline">¶</a></h1>
<p><em>You never need optimal performance, you need good-enough performance…
Programmers are far too hung up with performance.</em></p>
<blockquote>
<div><p>—Barbara Liskov, 2011</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 2, section_id: 1) %>">2.1. Prelude: Learning to Learn Languages and Frameworks</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 2, section_id: 2) %>">2.2. Pair Programming</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 2, section_id: 3) %>">2.3. Introducing Ruby,an Object-Oriented Language</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 2, section_id: 4) %>">2.4. Ruby Idioms: Poetry Mode, Blocks, Duck Typing</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 2, section_id: 5) %>">2.5. CHIPS: Ruby Intro</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 2, section_id: 6) %>">2.6. Gems and Bundler: Library Management in Ruby</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 2, section_id: 7) %>">2.7. Fallacies and Pitfalls</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 2, section_id: 8) %>">2.8. Concluding Remarks: How (Not) To Learn a Language By Googling</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 1, section_id: 12) %>" title="previous page"><span class="section-number">1.12. </span>Concluding Remarks: Software Engineering Is More Than Programming</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 2, section_id: 1) %>" title="next page"><span class="section-number">2.1. </span>Prelude: Learning to Learn Languages and Frameworks</a>

        </div>
        
        </div>
    </div>
