<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div class="topbar container-xl fixed-top">
    <div class="topbar-contents row">
        <div class="col-12 col-md-3 bd-topbar-whitespace site-navigation show"></div>
        <div class="col pl-md-4 topbar-main">
            
            <button id="navbar-toggler" class="navbar-toggler ml-0" type="button" data-toggle="collapse"
                data-toggle="tooltip" data-placement="bottom" data-target=".site-navigation" aria-controls="navbar-menu"
                aria-expanded="true" aria-label="Toggle navigation" aria-controls="site-navigation"
                title="Toggle navigation" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            
            
<div class="dropdown-buttons-trigger">
    <button id="dropdown-buttons-trigger" class="btn btn-secondary topbarbtn" aria-label="Download this page"><i
            class="fas fa-download"></i></button>

    <div class="dropdown-buttons">
        <!-- ipynb file if we had a myst markdown file -->
        
        <!-- Download raw file -->
        <a class="dropdown-buttons" href="../../_sources/part2/chapter10/sub-chapter1.rst.txt"><button type="button"
                class="btn btn-secondary topbarbtn" title="Download source file" data-toggle="tooltip"
                data-placement="left">.rst</button></a>
        <!-- Download PDF via print -->
        <button type="button" id="download-print" class="btn btn-secondary topbarbtn" title="Print to PDF"
            onClick="window.print()" data-toggle="tooltip" data-placement="left">.pdf</button>
    </div>
</div>

            <!-- Source interaction buttons -->

            <!-- Full screen (wrap in <a> to have style consistency -->

<a class="full-screen-button"><button type="button" class="btn btn-secondary topbarbtn" data-toggle="tooltip"
        data-placement="bottom" onclick="toggleFullScreen()" aria-label="Fullscreen mode"
        title="Fullscreen mode"><i
            class="fas fa-expand"></i></button></a>

            <!-- Launch buttons -->

        </div>

        <!-- Table of contents -->
        <div class="d-none d-md-block col-md-2 bd-toc show">
            
        </div>
    </div>
</div>
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="it-takes-a-team-two-pizza-and-scrum">

<figure>
  <%= image_tag "Chapter10/10.1.jpg", class:"center", alt: "10.1" %>
  <figcaption>
  Figure 10.1: The Agile software lifecycle and its relationship to the chapters in this book. This chapter emphasizes
  evaluating the productivity of the team so as to come up with schedules that are more accurate by tracking velocity
  </figcaption>
</figure> 

<h1><span class="section-number">10.1. </span>It Takes a Team: Two-Pizza and Scrum<a class="headerlink" href="#it-takes-a-team-two-pizza-and-scrum" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p><em>The Six Phases of a Project: (1) Enthusiasm, (2) Disillusionment, (3) Panic,
(4) Search for the guilty, (5) Punishment of the innocent, (6) Praise for non-participants.</em></p>
<p class="attribution">—Dutch Holland (Holland 2004)</p>
</div></blockquote>
<p>The days of the hero programmer are now past. Whereas once a brilliant
individual could create breakthrough software, the rising bar on functionality
and quality means software de- velopment now is primarily a team sport. Hence,
success today means that not only do you have great design and coding skills, but
that you work well with others and can help your team succeed. As the opening quote
from Fred Brooks states, you cannot win if your team loses, and you cannot fail
if your team wins.</p>
<p>Hence, the first step of a software development project is to form and organize a team.
As to its size, a “two-pizza” team—a group that can be fed by two pizzas in a meeting—is
typical for SaaS projects. Our discussions with senior software engineers suggest the
typical team size range varies by company, with four to nine developers being a typical range.</p>
<p>While there are many ways to organize a two-pizza software development, a popular one today
is <strong>Scrum</strong> (Schwaber and Beedle 2001). Its frequent short meetings—15 minutes every day at
the same place and time—inspire the name, when each team member answers three questions:</p>
<ol class="arabic simple">
<li><p>What have you done since yesterday?</p></li>
<li><p>What are you planning to do today?</p></li>
<li><p>Are there any impediments or stumbling blocks?</p></li>
</ol>
<p>The benefit of these daily scrums is that by understanding what each team member is doing
and has already completed, the team can identify work that would help others make faster
progress. Indeed, daily scrums are sometimes referred to as <em>standups</em>, implying that the meeting
should be kept short enough that everyone can remain standing the entire time.</p>
<p>When combined with the weekly or biweekly iteration model of Agile to collect the feedback
from all the stakeholders, the Scrum organization makes it more likely that the rapid progress
will be towards what the customers want. Rather than use the Agile term iteration, Scrum uses
the term <strong>sprint</strong>.</p>
<p>A Scrum has three main roles:</p>
<ol class="arabic simple">
<li><p><strong>Team</strong>—A two-pizza size team that delivers the software.</p></li>
<li><p><strong>Scrum Lead</strong>—A team member who acts as buffer between the Team and external distractions, keeps the team focused on the task at hand, enforces team rules, and removes impediments that prevent the team from making progress. One example is enforcing <strong>coding standards</strong>, which are style guidelines that improve the consistency and read- ability of the code.</p></li>
<li><p><strong>Product Owner</strong>—A team member (not the Scrum Lead) who represents the voice of the customer and prioritizes user stories.</p></li>
</ol>
<p>Scrum relies on self-organization, and team members often rotate through different roles.
For example, we recommend that each member rotate through the Product Owner role, changing
on every iteration or sprint.</p>
<p>In any group working together, conflicts can occur around which technical direction the group
should go. Depending in part on the personalities of the members of the team, they may not be
able to quickly reach agreement. One approach to resolving conflicts is to start with a list
on all the items on which the sides agree, as opposed to starting with the list of disagreements.
This technique can make the sides see that perhaps they are closer together than they thought.
Another approach is for each side to articulate the other’s arguments. This technique makes
sure both sides understand what the arguments are, even if they don’t agree with some of them.
This step can reduce confusion about terms or assumptions, which may be the real cause of the
conflict.</p>
<p>Of course, such an approach requires great team dynamics. Everyone on the team should ideally
feel <strong>psychological safety</strong>—the belief that they will not be humiliated for voicing their ideas
to the team, even if those ideas might turn out to be wrong. Indeed, a two-year study by Google
found that the most effective Google teams weren’t the ones with the most senior engineers or
the smartest people, but the teams with high psychological safety. One way Agile teams promote
psychological safety is to do a short Retrospective meeting, often shortened to “retro,” at the
end of each iteration. A typical format for the retro focuses on Plus/Minus/Interesting (PMI):
each team member writes down, perhaps anonymously at first, what they thought went well, went
poorly, and was unusual or noteworthy (neither good nor bad) during the iteration. The PMI items
are often not technical, for example, “When I brought up my concern about some new code to
Armando, I felt he was dismissive about my idea” or “Dave really helped me with a bug I’d been
chasing this week without making me feel stupid.” All team members then review the items (and
where appropriate reveal their identities, or say “I agree,” or “I noticed that too”), noting
especially if some items were raised by more than one team member. The PMI items can also be
compared to the previous iteration’s retro items, since one goal of Agile is continuous
improvement.</p>
<p>The rest of this chapter focuses on coordinating the work of the team, and in particular the
use of version control tools to support coordination. How is the code repository managed? What
happens if team members accidentally make conflicting changes to a set of files? Which lines
in a given file were changed when, and by whom were they changed? How does one developer work
on a new feature without introducing problems into stable code? How does the team ensure the
quality of the code and tests on an ongoing basis as more contibrutions accrete in the
repository? As we will see, when software is developed by a team rather than an individual,
version control can be used to address these questions using <strong>merging</strong> and <strong>branching</strong>. Both tasks
involve combining changes made by many developers into a single code base, a task that sometimes
requires manual resolution of conflicting changes.</p>
<p><strong>Self-Check 10.1.1.</strong> <em>True or False: Scrum is an appropriate methodology when it is
difficult to plan ahead.</em></p>
<blockquote>
<div><p>True: Scrum relies more on real-time feedback than on the traditional management approach
of central planning with command and control.</p>
</div></blockquote>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= chapter_path(chapter_id: 10) %>" title="previous page"><span class="section-number">10. </span>Agile Teams</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 10, section_id: 2) %>" title="next page"><span class="section-number">10.2. </span>Using Branches Effectively</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
  
  <%= stylesheet_link_tag "recogito.min.css">
  <%= javascript_include_tag "recogito.min.js" %>

  <script type="text/javascript">
  var myAnnotation = {
    '@context': 'http://www.w3.org/ns/anno.jsonld',
    'id': 'https://www.example.com/recogito-js-example/foo',
    'type': 'Annotation',
    'body': [{
      'type': 'TextualBody',
      'value': 'This annotation was added via JS.'
    }],
    'target': {
      'selector': [{
        'type': 'TextQuoteSelector',
        'exact': 'team wins'
      }, {
        'type': 'TextPositionSelector',
        'start': 478,
        'end': 486
      }]
    }
  };

  (function() {
    <!-- Intialize Recogito -->
    var r = Recogito.init({
      content: 'main-content', <!-- Element id or DOM node to attach to -->
      locale: 'auto',
      allowEmpty: true,
        widgets: [
        { widget: 'COMMENT' },
        { widget: 'TAG', vocabulary: [ 'Place', 'Person', 'Event', 'Organization', 'Animal' ] }
      ],
      relationVocabulary: [ 'isRelated', 'isPartOf', 'isSameAs ']
    });

    r.loadAnnotations('example_annotations.w3c.json')
      .then(() => console.log('loaded'));

    r.on('selectAnnotation', function(a) {
      console.log('selected', a);
    });

    r.on('createAnnotation', function(a) {
      console.log('created', a);
    });

    r.on('updateAnnotation', function(annotation, previous) {
      console.log('updated', previous, 'with', annotation);
    });

    <!-- Wire the Add/Update/Remove buttons -->
    document.getElementById('add-annotation').addEventListener('click', function() {
      r.addAnnotation(myAnnotation);
    });

    document.getElementById('update-annotation').addEventListener('click', function() {
      r.addAnnotation(Object.assign({}, myAnnotation, {
        'body': [{
          'type': 'TextualBody',
          'value': 'This annotation was added via JS, and has been updated now.'
        }],
        'target': {
          'selector': [{
            'type': 'TextQuoteSelector',
            'exact': 'ingenious hero who'
          }, {
            'type': 'TextPositionSelector',
            'start': 43,
            'end': 61
          }]
        }
      }));
    });

    document.getElementById('remove-annotation').addEventListener('click', function() {
      r.removeAnnotation(myAnnotation);
    });

    document.getElementById('select-annotation').addEventListener('click', function() {
      r.selectAnnotation('#d7197c87-b45d-4217-9c4f-27573030448f');
    });
    
    <!-- Switch annotation mode (annotation/relationships) -->
    var annotationMode = 'ANNOTATION'; 

    var toggleModeBtn = document.getElementById('toggle-mode');
    toggleModeBtn.addEventListener('click', function() {
      if (annotationMode === 'ANNOTATION') {
        toggleModeBtn.innerHTML = 'MODE: RELATIONS';
        annotationMode = 'RELATIONS';
      } else  {
        toggleModeBtn.innerHTML = 'MODE: ANNOTATION';
        annotationMode = 'ANNOTATION';
      }

      r.setMode(annotationMode);
    });
  })();
</script>
</main>
