<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="saas-application-architecture-microservices-apis-and-rest">
<h1><span class="section-number">3. </span>SaaS Application Architecture: Microservices, APIs, and REST<a class="headerlink" href="#saas-application-architecture-microservices-apis-and-rest" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p>I think the major good idea in Unix was its clean and simple interface: open, close, read, and write.</p>
<p class="attribution">—Unix and Beyond: An Interview With Ken Thompson, IEEE Computer 32(5), May 1999</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 3, section_id: 1) %>">3.1. Introduction</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 3, section_id: 2) %>">3.2. SaaS Communication Uses HTTP Routes</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 3, section_id: 3) %>">3.3. CHIPS: HTTP and URIs</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 3, section_id: 4) %>">3.4. From Web Sites to Microservices: Service-Oriented Architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 3, section_id: 5) %>">3.5. RESTful APIs: Everything is a Resource</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 3, section_id: 6) %>">3.6. RESTful URIs, API Calls, and JSON</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 3, section_id: 7) %>">3.7. CHIPS: Create and Deploy a Simple SaaS App</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 3, section_id: 8) %>">3.8. Fallacies and Pitfalls</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 3, section_id: 9) %>">3.9. Concluding Remarks: Continuity From CGI to SOA</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 2, section_id: 8) %>" title="previous page"><span class="section-number">2.8. </span>Concluding Remarks: How (Not) To Learn a Language By Googling</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 3, section_id: 1) %>" title="next page"><span class="section-number">3.1. </span>Introduction</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
