<main class="col py-md-3 pl-md-4 bd-content overflow-auto" role="main">
    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="design-patterns-for-saas-apps">
<h1><span class="section-number">11. </span>Design Patterns for SaaS Apps<a class="headerlink" href="#design-patterns-for-saas-apps" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p><em>Things are genuinely simple when you can think correctly about what’s going on without
having a lot of extraneous or confusing thoughts to impede you. Think of Einstein’s maxim,
“Everything should be made as simple as possible, but no simpler.”</em></p>
<p class="attribution">—“A Conversation with William Kahan,” Dr. Dobbs’ Journal, 1997</p>
</div></blockquote>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 1) %>">11.1. Patterns, Antipatterns, and SOLID Class Architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 2) %>">11.2. Just Enough UML</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 3) %>">11.3. Single Responsibility Principle</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 4) %>">11.4. Open/Closed Principle</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 5) %>">11.5. Liskov Substitution Principle</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 6) %>">11.6. Dependency Injection Principle</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 7) %>">11.7. Demeter Principle</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 8) %>">11.8. The Plan-And-Document Perspective on Design Patterns</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 9) %>">11.9. Fallacies and Pitfalls</a></li>
<li class="toctree-l1"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 10) %>">11.10. Concluding Remarks: Frameworks Capture Design Patterns</a></li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            
    <a class='left-prev' id="prev-link" href="<%= section_path(chapter_id: 10, section_id: 9) %>" title="previous page"><span class="section-number">10.9. </span>Concluding Remarks: From Solo Developer to Teams of Teams</a>
    <a class='right-next' id="next-link" href="<%= section_path(chapter_id: 11, section_id: 1) %>" title="next page"><span class="section-number">11.1. </span>Patterns, Antipatterns, and SOLID Class Architecture</a>

        </div>
        
        </div>
    </div>
    <footer class="footer mt-5 mt-md-0">
    <div class="container">
      <p>
        
          By sme777<br/>
        
            &copy; Copyright 2021, Armando Fox and David Patterson.<br/>
      </p>
    </div>
  </footer>
</main>
