    
    <div id="main-content" class="row">
        <div class="col-12 col-md-9 pl-md-3 pr-md-0">
        
              <div>
                
  <div class="section" id="agile-software-development">
<h1>Agile Software Development<a class="headerlink" href="#agile-software-development" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="<%= chapter_path(chapter_id: 7) %>">7. Requirements: BDD and User Stories</a><ul>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 1) %>">7.1. Behavior-Driven Design and User Stories</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 2) %>">7.2. SMART User Stories</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 3) %>">7.3. Lo-Fi User Interface Sketches and Storyboards</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 4) %>">7.4. Points and Velocity</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 5) %>">7.5. Agile Cost Estimation</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 6) %>">7.6. Cucumber: From User Stories to Acceptance Tests</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 7) %>">7.7. CHIPS: Intro to BDD and Cucumber</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 8) %>">7.8. Explicit vs. Implicit and Imperative vs. Declarative Scenarios</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 9) %>">7.9. The Plan-And-Document Perspective on Documentation</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 10) %>">7.10. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 7, section_id: 11) %>">7.11. Concluding Remarks: Pros and Cons of BDD</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="<%= chapter_path(chapter_id: 8) %>">8. Testing: Test-Driven Development</a><ul>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 1) %>">8.1. FIRST, TDD, and Red–Green–Refactor</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 2) %>">8.2. Anatomy of a Test Case: Arrange, Act, Assert</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 3) %>">8.3. Isolating Code: Doubles and Seams</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 4) %>">8.4. Stubbing the Internet</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 5) %>">8.5. CHIPS: Intro to RSpec on Rails</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 6) %>">8.6. Fixtures and Factories</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 7) %>">8.7. Coverage Concepts and Types of Tests</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 8) %>">8.8. Other Testing Approaches and Terminology</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 9) %>">8.9. CHIPS:The Acceptance Test/Unit Test Cycle</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 10) %>">8.10. The Plan-And-Document Perspective on Testing</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 11) %>">8.11. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 8, section_id: 12) %>">8.12. Concluding Remarks: TDD vs. Conventional Debugging</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="<%= chapter_path(chapter_id: 9) %>">9. Software Maintenance: Enhancing Legacy Software Using Refactoring and Agile Methods</a><ul>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 1) %>">9.1. What Makes Code “Legacy” and How Can Agile Help?</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 2) %>">9.2. Exploring a Legacy Codebase</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 3) %>">9.3. Establishing Ground Truth With Characterization Tests</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 4) %>">9.4. Comments and Commits: Documenting Code</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 5) %>">9.5. Metrics, CodeSmells, and SOFA</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 6) %>">9.6. Method-Level Refactoring: Replacing Dependencies With Seams</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 7) %>">9.7. The Plan-And-Document Perspective on Working With Legacy Code</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 8) %>">9.8. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 9, section_id: 9) %>">9.9. Concluding Remarks: Continuous Refactoring</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="<%= chapter_path(chapter_id: 10) %>">10. Agile Teams</a><ul>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 1) %>">10.1. It Takes a Team: Two-Pizza and Scrum</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 2) %>">10.2. Using Branches Effectively</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 3) %>">10.3. Pull Requests and Code Reviews</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 4) %>">10.4. Delivering the Backlog Using Continuous Integration</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 5) %>">10.5. CHIPS: Agile Iterations</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 6) %>">10.6. Reporting and Fixing Bugs: The Five R’s</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 7) %>">10.7. The Plan-And-Document Perspective on Managing Teams</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 8) %>">10.8. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 10, section_id: 9) %>">10.9. Concluding Remarks: From Solo Developer to Teams of Teams</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="<%= chapter_path(chapter_id: 11) %>">11. Design Patterns for SaaS Apps</a><ul>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 1) %>">11.1. Patterns, Antipatterns, and SOLID Class Architecture</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 2) %>">11.2. Just Enough UML</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 3) %>">11.3. Single Responsibility Principle</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 4) %>">11.4. Open/Closed Principle</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 5) %>">11.5. Liskov Substitution Principle</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 6) %>">11.6. Dependency Injection Principle</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 7) %>">11.7. Demeter Principle</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 8) %>">11.8. The Plan-And-Document Perspective on Design Patterns</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 9) %>">11.9. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 11, section_id: 10) %>">11.10. Concluding Remarks: Frameworks Capture Design Patterns</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="<%= chapter_path(chapter_id: 12) %>">12. Dev/Ops</a><ul>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 1) %>">12.1. From Development to Deployment</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 2) %>">12.2. Three-Tier Architecture</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 3) %>">12.3. Responsiveness, Service Level Objectives, and Apdex</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 4) %>">12.4. Releases and Feature Flags</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 5) %>">12.5. Monitoring and Finding Bottlenecks</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 6) %>">12.6. Improving Rendering and Database Performance With Caching</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 7) %>">12.7. Avoiding Abusive Database Queries</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 8) %>">12.8. CHIPS: Exploiting Caching and Indices</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 9) %>">12.9. Security: Defending Customer Data in Your App</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 10) %>">12.10. The Plan-And-Document Perspective on Operations</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 11) %>">12.11. Fallacies and Pitfalls</a></li>
<li class="toctree-l2"><a class="reference internal" href="<%= section_path(chapter_id: 12, section_id: 12) %>">12.12. Concluding Remarks: Beyond PaaS Basics</a></li>
</ul>
</li>
</ul>
</div>
</div>


              </div>
              
        
        <div class='prev-next-bottom'>
            

        </div>
        
        </div>
    </div>
