<!DOCTYPE html>
<!-- This is coming from book_content -->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>1. Introduction to Software as a Service, Agile Development, and Cloud Computing &#8212; saasbook  documentation</title>
        
        <%= stylesheet_link_tag "theme.css" %>
        <%= stylesheet_link_tag "index.c5995385ac14fb8791e8eb36b4908be2.css" %>

        <%= stylesheet_link_tag "all.min.css" %>
        <%= stylesheet_link_tag "pygments.css" %>
        <%= stylesheet_link_tag "sphinx-book-theme.acff12b8f9c144ce68a297486a2fa670.css" %>

        <%= javascript_include_tag "recogito.js" %>

        <%= javascript_include_tag "vendor.js" %>
        <%= javascript_include_tag "documentation_options.js", id: "documentation_options" %>
        <%= javascript_include_tag "book_content.js" %>
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="docsearch:language" content="en" />
    
    </head>
    <body data-spy="scroll" data-target="#bd-toc-nav" data-offset="80">
    
        <div class="container-fluid" id="banner"></div>
        <div class="container-xl">
            <div class="row">
          
                <!-- RENDER TOC HERE -->
                <%= render "table_of_contents" %>

                <!-- MAIN CONTENTS RENDER HERE -->
                <%= render @body_contents %>
            </div>
        </div>
    </body>
</html>